/* .stories{
    
    border:2px solid orange
} */
.alignfeed{
    align-items: start;
}
h5{
    font-family: Arial, Helvetica, sans-serif;    
}

.inline{
    display: flex;
    gap: 3px;
    justify-content: flex-start;
    width: 100%;
}
p{
    font-size: 20px;
    overflow: hidden;
}
::-webkit-scrollbar{
    display: none;
}